# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\游涛\Desktop\人工智能\Lab3 & pj3 & Tutorial3\PJ3-Blackjack\pj3-blackjack\template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
